@import './base.css';

body {
  position: relative;
  background-color: var(--clr-primary-200);
  color: var(--clr-primary-700);
  font-family: Rubik;

  display: flex;
  justify-content: center;
}

.app {
  width: max(1440px, 375px);
  padding-block: 1rem;

  display: grid;
  grid-template-rows: 1fr auto;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
}