@import './base.css';

body {
  position: relative;
  background-color: var(--primary-200);
  color: var(--clr-primary-700);

  display: flex;
  justify-content: center;
}

.app {
  width: max(1440px, 375px);
  padding: 1rem 2rem;
}
